h1 {

	color: blue;
	font-family: Algerian;
	font-size: 85px;
	text-align: center;
	font-weight: bold;
	   text-shadow: 4px 4px lightblue;
	   margin: 0px;
	
}

body {
background-image: url("wizard1.jpg");
background-repeat: no-repeat;
background-position: 1% 20%;




}



#gamephrase {
font-size: 30px;
color: orange;
text-align: center;
margin-top: 10px;
font-family: algerian;
font-weight: bold;
 text-shadow: 3px 3px black;

}

.pinkcrystal {

	width: 100px;
	height: 120px;
		opacity: 0.7;
		border-radius: 3em;
}

.bluecrystal {

	width: 100px;
	    border-radius: 3em;
		opacity: 0.7;
}

.orangecrystal {

	width: 100px;
	height: 120px;
		opacity: 0.7;
		 border-radius: 3em;

}

.yellowcrystal {

	width: 100px;
	height: 120px;
		opacity: 0.7;
		 border-radius: 3em;
}

#box1 {

	padding: 40px;
	background-color: teal;
	color: white;
	font-size: 25px;
	text-align: left;
	opacity: 0.7;
	margin: 20px;
	box-shadow: 4px 8px black;
}

#wins {

	padding: 40px;
	background-color: lightgreen;
	color: blue;
	font-size: 25px;
	text-align: left;
	opacity: 0.7;
	margin: 20px;
	box-shadow: 4px 8px black;
}

#losses {

	padding: 40px;
	background-color: lightblue;
	color: navy; 
	font-size: 25px;
	text-align: left;
	opacity: 0.7;
	margin: 20px;
	box-shadow: 4px 8px black;
}




.talley {

		padding: 20px 50px 20px 20px;
		margin-left: 110px;
		background-color: purple;
		color: white;
		font-size: 20px;
		text-align: center;
		opacity: 0.5;
		box-shadow: 4px 8px black;
}


